@import "theme1";
@import "theme2";
@import "theme3";
$ff-primary: 'Raleway', sans-serif;
$fw:700;
*,
*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 100%;
}
html,body{
 max-height: 100%;
}

body{
    font-family:$ff-primary ;
    background-color: $main-background;
}

.section__button{
    display: grid;
    grid-template-columns: 25rem;
    grid-template-areas:
            "header"
            "input"
            "cantainer--button" ;
    margin: 0 auto;


    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 3em;



}

//hader
.header{
    grid-area: header;
    margin: 0;

    color:$text-light;
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-family: inherit;
    font-weight: $fw;
    line-height: 1.5;
}

//the toggle part
.numbers{
    display: flex;
    justify-content:space-between;
    font-size:16px;
}
.toggle-box{

    background-color:$screen-background;
    height:20px;
    border-radius: 1em;
    padding:.3em;
    width:calc(100% + 1rem);
    position: relative;
    left:-.5rem;
    padding-top:.3rem;



}
.theme-toggle{
    position: relative;
    left: -1em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items:end;


}


.circle{
    display:block;
    height: 1.4em;
    width:.6em;
    position: relative;

    margin-left: .1em;
    border-radius: 50%;
    background-color:$key-background-toggle;
    transition: all 200ms;



}
.circle-position2{
    position: relative;
    left: 1.5em;
}



input {
    font-size: 2rem;
    margin-bottom: .1em;
    grid-area: input;
    border:none;
    border-radius: .5em;
    height: 2em;
    padding: 1em;
    background-color: $screen-background;
    outline: none;
    text-align: right;
    color: $text-light;
    transition:all 200ms ease-in-out;

    &:hover{
        background:rgba(24,32,52,.8);

    }
    &:focus{
        outline:2px solid;

    }

}
.section__display{
    margin: 0 auto;
}

.btn-reset{
    grid-column: 1/3;
}
.btn-equal{
    grid-column: 3/-1;
}
.container{
    display: flex;
    flex-direction: column;
}
.container--button{
    grid-area: cantainer--button;
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-gap:.6em;
    border-radius: 1em;
    justify-content: center;
    padding:1em;
    color:red;
    background-color: $screen-background;
}

button{
    margin:.3em .1em ;
    padding:.3em;
    border: none;
    border-radius:.2em ;
    font-size: 24px;
    font-weight: 700;
    background-color: $text-light;
    box-shadow: 2px 3px 2px $key-shadow2;
    transition:all 200ms ease-in-out;

    &:hover{
        cursor:pointer;
        background-color: $key-background-toggle;
    }

}
.btn-del,
.btn-reset{
   background-color: $key-background;
   color:$key-background2;
   box-shadow: 2px 3px 2px $key-background;
}
.btn-equal{
    background-color: $key-background-toggle;
    color:$key-background2;
    box-shadow: 2px 3px 2px $key-background-toggle;


    &:hover{
        background-color: $text-light;
        color:inherit;
    }
}
